<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770857756339-nq0g4bgj6ngja77nurern6g9vbqft7vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770857756339-nq0g4bgj6ngja77nurern6g9vbqft7vs</string>
	<key>API_KEY</key>
	<string>AIzaSyAA9TMWBpydyy4bMBvv9otu6s0XBIs5IIM</string>
	<key>GCM_SENDER_ID</key>
	<string>770857756339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apple-samplecode.BreakfastFinderM452Y329YT</string>
	<key>PROJECT_ID</key>
	<string>sonic-vision</string>
	<key>STORAGE_BUCKET</key>
	<string>sonic-vision.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770857756339:ios:79f386fb7d3bcc28ef72c6</string>
</dict>
</plist>